﻿@model Test.Models.Employee

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <h3>Сотрудник успешно добавлен!</h3>
    </div>
</body>
</html>