﻿@model Test.Models.Employee

<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Добавление сотрудника</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/ValidationError.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <p>Фамилия: @Html.TextBoxFor(x => x.SecondName, new { @class = "form-control" })</p>
        <p>Имя: @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })</p>
        <p>Отчество: @Html.TextBoxFor(x => x.ThirdName, new { @class = "form-control" })</p>
        <p>Номер телефона: @Html.TextBoxFor(x => x.MobileNumber, new { @class = "form-control" })</p>
        <p>Email: @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })</p>
        <p>Страна: @Html.DropDownListFor(x => x.StateId, ViewBag.StateList as SelectList, new { @class = "form-control", id = "state" })</p>
        <p>Город: @Html.DropDownListFor(x => x.CityId, ViewBag.CityList as SelectList, new { @class = "form-control", id = "city" })</p>
        <input type="submit" value="Сохранить" class="btn btn-success" />
        @section scripts{
            <script type="text/javascript">
    $(function () {

        $('#state').change(function()
        {
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetCities")/' + id,
                success: function (data) {
                    $('#city').replaceWith(data);
                }
            });
        });
    })
            </script>
        }
    }
</body>
</html>