﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Сотрудники компании</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <style>
        body {
            background-color: #F1F1F1;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Номер мобильного телефона</th>
                    <th>Электронная почта</th>
                    <th>Страна</th>
                    <th>Город</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var e in ViewBag.Employees)
            {
                    <tr>
                        <td>@e.SecondName</td>
                        <td>@e.FirstName</td>
                        <td>@e.ThirdName</td>
                        <td>@e.MobileNumber</td>
                        <td>@e.Mail</td>
                        <td>@e.State.ToString()</td>
                        <td>@e.City.ToString()</td>
                        <td>@Html.ActionLink("Удалить", "Delete", new { id = e.Id })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>