﻿@model Test.Models.EmployeesListViewModel

@{
    ViewBag.Title = "Поиск сотрудников";
}

<h2>Поиск сотрудников</h2>

<form method="get">
    <div class="form-inline">
        <label class="control-label">Страна: </label>
        @Html.DropDownList("state", Model.States as SelectList, new { @class = "form-control", id = "stateId" })

        <label class="control-label">Город: </label>
        @Html.DropDownList("city", Model.Cities as SelectList, new { @class = "form-control", id = "cityId" })

        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>
@section scripts{
    <script type="text/javascript">
    $(function () {

        $('#stateId').change(function()
        {
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetCitiesForSearch")/' + id,
                success: function (data) {
                    $('#cityId').replaceWith(data);
                }
            });
        });
    })
    </script>
}

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Номер мобильного телефона</th>
            <th>Электронная почта</th>
            <th>Страна</th>
            <th>Город</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model.Employees)
            {
            <tr>
                <td>@e.SecondName</td>
                <td>@e.FirstName</td>
                <td>@e.ThirdName</td>
                <td>@e.MobileNumber</td>
                <td>@e.Mail</td>
                <td>@e.State.ToString()</td>
                <td>@e.City.ToString()</td>
                <td>@Html.ActionLink("Удалить", "Delete", new { id = e.Id })</td>
            </tr>
        }
    </tbody>
</table>
